//@bg-header: lighten(@navy,2%);
@nav-size: 50px;
@headings-font-family: 'Open Sans', sans-serif;

* {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-weight: 200;
  font-size: 18px;
  padding-top: 50px;
  font-smoothing: antialiased;
  //text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    //color: #333;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;
}

//Spacing between page content and footer
.footer-spacing {
  padding-bottom: 20px;
}

.centered {
    text-align: center;
}

a {
    color: darken(#4d90fc, 40%);
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid;
    margin: 1em 0;
    padding: 0;
}

.page-head {
  color: rgba(255, 255, 255, 0.870588);
  background-color: #231F20;

  margin-top: -@nav-size;
  padding-top: 60px+@nav-size;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0;

  a {
    color: #81D4FA;
  }

  a:hover, a:focus {
    color: lighten(#81D4FA, 10%);
  }

  p {
    font-size: 1em;
    line-height: 28px;
  }

  h1 {
    margin-top: 0px;
    font-size: 70px;
    color: inherit;
  }
}


.news {
  padding: 50px 0;
}

.footer {

  //background-color: @black;
  //color: white;

  a {
    //color: lighten(@bg-header, 60%);
  }

  a:hover, 
  a:focus {
    //color: lighten(@bg-header, 70%);
  }

}

.teams {

  color: rgba(255, 255, 255, 0.870588);
  background-color: #231F20;

  padding-top: 60px;
  padding-bottom: 60px;

  h1,h2,h3,h4 {
    //color: white;
  }

  h2 {
    padding-bottom: 20px;
  }
}

//Make definition lists less obtrusive
dl,dd {
  font-size: 16px;
}

//Make address less obtrusive
address {
  font-size: 16px;
}

//Muted text in jumbotron
.jumbotron {
  p {
    small {
      font-size: 0.7em;
      font-style: italic;
      opacity: 0.7;
    }
  }
}

