@bg-header: lighten(#001f3f,2%);

body {
  background-color: #f2ff2;
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: #111111;
  padding-top: 50px;
  font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #001f3f;
    word-wrap: break-word;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus,
a:visited {
    color: lighten(#001f3f, 10%);
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#headerwrap {

  background-color: @bg-header;
  padding: 60px 0;
  color: white;
  border-bottom: #bdc3c7 solid 5px;

  a {
    color: #AAAAAA;
  }

  a:hover, a:focus {
    color: lighten(#AAAAAA, 10%);
  }

  p {
    line-height: 28px;
  }

  h1 {
    margin-top: 30px;
    font-size: 70px;
    color: inherit;
  }
}


#newswrap {
  padding: 50px 0;
}

.footer {

  background-color: #111111;
  color: white;

  a {
    color: lighten(@bg-header, 60%);
  }

  a:hover, 
  a:focus {
    color: lighten(@bg-header, 70%);
  }

}


.values {

  background-color: @bg-header;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;

  h1,h2,h3,h4 {
    color: white;
  }
}

.navbar-default {
  transition: min-height 0.3s ease;
}
.navbar-default .navbar-brand {
  transition: padding-top 0.3s ease, height 0.3s ease;
}
.navbar-default .navbar-nav > li > a {
    transition: padding 0.3s ease;
}
.smallnav {
  min-height: 30px;
}
.smallnav .navbar-brand {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
}
.smallnav .navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-default .navbar-toggle {
  transition: padding 0.3s ease, margin 0.3s ease;
}

.smallnav .navbar-toggle {
  margin-top: 1px;
  margin-bottom: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
}

#color-patch {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;//Nav-height
  background-color: @bg-header;//Same as following content
}