---
layout: default
title: Home
---
<style>
  #timer-container {
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 222222;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    background: #333;
    height: 100vh;
    cursor: pointer;
  }
  #timer-container:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: 50vh solid #222;
    border-left-color: #333;
    border-top-color: #333;
    border-left-width: 50vw;
    z-index: -1;
    border-right-width: 50vw;
  }
  #timer {
    margin-bottom: 28px;
  }
</style>
<div id="timer-container">
  <p id="timer-title">The unveiling of a new webpage the 29th of January 2017!</p>
  <h1 id="timer"></h1>
  <p id="timer-description">Click to go back to frontpage...</p>
  <script>
    let timer = document.querySelector('#timer')
    let timerContainer = document.querySelector('#timer-container')
    let timerDesc = document.querySelector('#timer-description')
    let timerTitle = document.querySelector('#timer-title')
    var baseDate = new Date(2017,0,29,12,0,0)
    function dd(d){ return ('0' + d).slice(-2) }
    if (baseDate < Date.now()) {
      timerContainer.style.display = 'none'
    } else {
      document.body.style.overflow = 'hidden'
      let d = new Date(baseDate-Date.now())
      timer.innerText = d.getDate() + ' days ' + dd(d.getHours()) + 'h ' + dd(d.getMinutes()) + 'm ' + dd(d.getSeconds()) + 's'
      var interval = setInterval(function () {
        let time = baseDate - Date.now()
        if (time < 0) {
          var count = 0
          var content = ["Forget all you know about the real world...", "",
                         "JK, it is just another website.", "Of a few billions..",
                         "But it is one of the top 4% best on the web!", "As 96% is the dark web..",
                         "We will just wait some seconds more..", "",
                         "Just like a windows update..", "Only faster.",
                         "The build should be done in..", "Ready?",
                         "10 hours!", "JK, again. Refreshing in 5 sec!"
                        ]
          timerTitle.style.display = 'none'
          var newInterval = setInterval(function () {
            if (count * 2 >= content.length) {
              window.location.reload(true)
              clearInterval(newInterval)
            } else {
              timer.innerText = content[count * 2]
              timerDesc.innerText = content[count * 2 + 1]
            }
            count++
          }, 8000)
          clearInterval(interval)
        }
        let d = new Date(time)
        timer.innerText = d.getDate() + ' days ' + dd(d.getHours()) + 'h ' + dd(d.getMinutes()) + 'm ' + dd(d.getSeconds()) + 's'
      }, 1000)
    }
    timerContainer.addEventListener('click', function () {
      timerContainer.style.display = 'none'
      document.body.style.overflow = 'auto'
    })
  </script>
</div>
<section class="page-head"> 
  <div class="container"> 
      <div class="row centered">
        <div class="col-md-12">
          <div class="align-center">
              <img class="img-responsive margin-center header-logo" alt="logo" src="{{ "/public/assets/logo-ascend-below.svg" | prepend: site.baseurl }}">
          </div>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <div class="align-center header-intro-text">
          <h1>
            Ascend
          </h1>
            <p>
              Autonomus aerial robotics for fun and learning. Ascend NTNU is the <a href="http://www.ntnu.edu/">Norwegian University Of Science and Technology's</a> team in the <a href="http://www.aerialroboticscompetition.org/">International Aerial Robotics Competition</a>.
            </p>
          </div>
        </div>
      </div>
  </div>
</section>

<section class="news" id="news">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Posts</h2>
        <ul class="list-unstyled">
          {% for post in site.posts %}
            <li>
              <h3>
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
              </h3>

              {{ post.excerpt }}

              <p><small><a href="{{ post.url | prepend: site.baseurl }}">Read more</a></small></p>
            </li>
          {% endfor %}
        </ul>
        <p class="text-muted"><a href="{{ "/blog/" | prepend: site.baseurl }}">More posts</a></p>
        <p class="text-muted">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>
  </div>
</section>

<section class="teams">
  <div class="container">
    <div class="row">
      <div class="centered col-lg-12">
        <h2>Technical groups in Ascend</h2>
      </div>
    </div>

    <div class="row centered">
      <div class="col-lg-3 col-md-6" style="min-height: 256px" >
        <div class="align-center">
          <i class="fa fa-cog fa-5x"></i>
          <h4 class="text-bold">Control</h4>
          <p>
            The control group takes care of all the physical aspects of the drone. Bridging the gap between commands and actions.
          </p>
        </div>
      </div>
        
      <div class="col-lg-3 col-md-6" style="min-height: 256px" >
        <div class="align-center">
          <i class="fa fa-tachometer fa-5x"></i>
          <h4 class="text-bold">Perception</h4>
          <p>
            State estimation of the drone and beyond. The perception group converts sensor input to meaningful information about the drone and its environment.
          </p>
        </div>
      </div>
    
      <div class="col-lg-3 col-md-6" style="min-height: 256px" >
        <div class="align-center">
          <i class="fa fa-dot-circle-o fa-5x"></i>
          <h4 class="text-bold">Planning</h4>
          <p>
            Finding the optimal behaviour to solve the mission at hand. The Planning group takes the latest AI research from theory to practice.
          </p>
        </div>
      </div>

      
      <div class="col-lg-3 col-md-6" style="min-height: 256px" >
        <div class="align-center">
          <i class="fa fa-cogs fa-5x"></i>
          <h4 class="text-bold">Hardware</h4>
          <p>
           The hardware group is responsible for the design of the drone. Material choice, strength calculations, electrical, aerodynamics, propulsion and production.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include sponsors.html %}
