<nav id="navigation" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-right">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a  class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-right">
      <ul class="nav navbar-nav navbar-right">
        <!--Links to same page-->
        {% if page.title == 'Home' %}
        <li data-toggle="collapse" data-target=".navbar-collapse.in" class="active"><a href="#home" class="smothscroll">Home</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.in"><a href="#news" class="smothscroll">Recent posts</a></li>
        {% else %}
        <li><a href="/#home">Home</a></li>
        <li><a href="/#news">Recent posts</a></li>
        {% endif%}
        <!--Links to new pages-->
        {% for p in site.pages %}{% if p.title != 'Home' %}<li class="{% if p.title == page.title %}active{% endif %}"><a 
            href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>{% endif %}{% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
